div {
  height: 50px;
  width: 90px;
  border-radius: 50px;
  border: 2px solid black;
  display: inline-block;;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
