h1 {
  font-weight: 900;
}

#first {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

p:first-child {
  font-variant: small-caps;
}

p:last-child {
  text-transform: capitalize;
}

article p:nth-child(2) {
  text-transform: uppercase;
}
