section {
  text-align: center;
  border: 5px solid black;
}


/*order matters: link> visited> hover> active*/
a:link {
  color: grey;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

div {
  height: 100px;
  width: 100px;
  background-color: red;
  display: inline-block;
}

div:hover {
  background-color: green;
  cursor: pointer;
}
